<!-- Baseテンプレートを適用 -->
{% extends 'base.html' %}
<!-- ヘッダー情報のページタイトルを設定 -->
{% block title %}Send password reset{% endblock %}
    {% block contents %}
    <!-- section line -->
    <hr>
    <!-- Bootstrapのグリッドシステム -->
    <div class = "containter">
        <!-- 行を配置 -->
        <div class = "row">
            <!-- 列の左右に余白offset-2、列の上下パディングにpy-4 -->
            <div class = "col offset-2 py-4">
                <h5>
                    パスワードリセットのリンクをメールで送信しました。
                    メールをご確認ください。
                </h5>
                <br>
                <h6>
                    メールが届かない場合は、登録済みのメールである事を確認してください。
                    迷惑フォルダも確認してみてください。
                </h6>
                <br>
                <!-- トップページへのリンク -->
                <P><a href="{% url 'doc:index' %}">トップページへ</a></P>
                <hr>
            </div>
        </div>
    </div>
    {% endblock %}
    