<!-- Baseテンプレートを適用 -->
{% extends 'base.html' %}
<!-- ヘッダー情報のページタイトルを設定 -->
{% block title %}Reset Password{% endblock %}
    {% block contents %}
    <!-- Bootstrapのグリッドシステム -->
    <div class = "containter">
        <!-- 行を配置 -->
        <div class = "row">
            <!-- 列の上下パディングにpy-4 -->
            <div class = "col py-4">
                <hr>
                <h3>パスワードをリセットしますか？</h3>
                <p>
                    登録済みにパスワードを入力してください。
                    パスワードリセットのリンクをメールで送付します。
                </p>
                <br>
                <!-- メール送信用フォームを配置 -->
                <form action="" method="POST" class="text-center">
                    {% csrf_token %}
                    <!-- formに格納されているインプットボックスとラベルを出力 -->
                    {{form}}
                    <!-- 送信ボタン -->
                    <input type="submit" value="メールを送信"/><br>
                </form>
                <br>
                <!-- トップページへのリンク -->
                <P><a href="{% url 'doc:index' %}">トップページへ</a></P>
                <hr>
            </div>
        </div>
    </div>
    {% endblock %}
    